/* GERAL --------------------------------------------------------------------------------------------------------------------------------*/

:root{
  --color-dark: rgb(18, 18, 23);
  --color-sky: #030029;
  --color-wood: #6E411A;
  --color-title: #FDB021;
  --color-p: #EBEBEB;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}


body {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

#agendar,
#carrinho,
#serviços,
#contact,
#zap,
#voltar {
  font-size: 30px;
}

section{
  padding: 30px;
}

section h1{
  color: var(--color-title);
  text-shadow: 7px 9px 1px #000;
  font-size: 60px;
  text-align: center;
  margin-bottom: 16px;
}

/* NAVEGAÇÃO ----------------------------------------------------------------------------------------------------------------------------*/

.navbar {
  background-color: var(--color-dark);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding-inline: 16px;
  padding-block: 12px;
}

.navbar-name {
  margin: auto 0;

  font-weight: bold;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.navbar-name:hover {
  text-decoration: none;
  color: var(--color-title);
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  padding: 0;
  margin: 0;
}

.item-list {
  font-size: 18px;
  text-align: center;

  margin-right: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

/* CARROSSEL ----------------------------------------------------------------------------------------------------------------------------*/

header{
  background-color: var(--color-sky);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px;
}

.slider{
  overflow: hidden;

  margin: 0 auto;

  width: 800px;
  height: 400px;

}

.slides{
  display: flex;

  width: 400%;
  height: 400px;
}

.slide{
  position: relative;

  width: 25%;

  transition: 1.5s;
}

.slides input{
  display: none;
}

.slide img{
  width: 800px;
}

.manual-navigation{
  position: relative;

  display: flex;
  justify-content: center;

  width: 800px;

  margin-top: -40px;
}

.manual-btn{
  border: 2px solid white;
  border-radius: 10px;

  padding: 5px;

  cursor: pointer;

  transition: .5s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

.navigation-auto{
  position: absolute;

  display: flex;
  justify-content: center;

  width: 800px;

  margin-top: 360px;
}

.navigation-auto div{
  border: 2px solid white;
  border-radius: 10px;

  padding: 5px;

  cursor: pointer;

  transition: .5s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: white;
}

/* HOME ---------------------------------------------------------------------------------------------------------------------------------*/

#home{
  background-color: var(--color-wood);
}

.box {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row; 
}

.image {
  flex: 1;

  display: flex; 
  align-items: center; 
}

.image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.content {
  flex: 1;

  color: var(--color-p);
  font-size: 20px;
  text-align: justify;

  margin-inline: 24px; 
}

.content h1{
  color: var(--color-title);
}

.content p{
  margin-bottom: 16px;
}

/* CORTES -------------------------------------------------------------------------------------------------------------------------------*/

#cortes{
  background-color: var(--color-sky);
  color: var(--color-title);
  text-align: center;
}

.cards{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.card {
  background-color: #000;
  border: 1px solid var(--color-wood); 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

  width: 400px; 

  margin: 20px; 
  padding-inline: 16px;

  transition: .3s;
}

.card:hover{
  box-shadow: 0px 0px 5px 2px var(--color-title);
}

.card-head {
  text-align: center;
}

.title-card {
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px; 

  margin-block: 16px; 
}

.img-card {
  border-radius: 50%;

  width: 100%; 
  height: auto; 
  
  margin-top: 10px; 
}

.card-body {
  padding: 10px;
}

.preco-card {
  color: var(--color-title);
  font-size: 20px; 
  font-weight: bold; 
  font-family: 'Times New Roman', Times, serif;

  margin-bottom: 20px;
  margin-top: 12px;
}

.btn-card {
  display: block;

  background-color: #fff;
  border: none;
  border-radius: 5px;
  
  color: #000; 
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;

  width: 120px;

  padding: 10px;
  margin: 32px auto;

  transition: .3s;
}

.btn-card:hover {
  background-color: #FDB021;
}

/* EXTRAS -------------------------------------------------------------------------------------------------------------------------------*/

#extras {
  background-color: var(--color-sky);
}

#extras h1 {
  color: var(--color-title);
  text-align: center;
  margin-bottom: 16px; 
}

.letters {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  margin: 0 auto;
}

.letter {
  background-color: var(--color-wood);
  border-radius: 16px;
  text-align: center;
  margin: 8px; 
  width: calc(33.3% - 16px); 
}

.letter-title {
  color: var(--color-title);
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px; 
  margin-block: 8px; 
}

.letter-box {
  background-color: #000;
  border-radius: 16px;
  color: var(--color-p);
  margin: 10px;
  padding: 16px; 
  height: auto; 
}

.list-card {
  padding: 0;
  margin: 0;
  list-style: none;
}

.letter-item {
  position: relative;
  text-align: start;
  margin-bottom: 8px;
  padding-left: 24px; 

}

.letter-item::before {
  content: "\2022";
  color: var(--color-title);
  position: absolute;
  left: 0;
  margin-right: 4px; 
}

@media (max-width: 768px) {
  .letters {
    flex-direction: column; 
  }
  .letter{
    width: calc(100% - 16px); 
  }
}


/* DOMICILIO ----------------------------------------------------------------------------------------------------------------------------*/

#domicilio{
  background-color: var(--color-wood);
}

.content .btn-page {
  display: flex; 
  align-items: center; 

  background-color: #25d366; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 

  color: #fff; 
  font-weight: bold; 
  text-align: center;
  text-decoration: none; 

  width: 200px;

  padding: 16px;
  margin-top: 32px;
}

.content .btn-page:hover {
  background-color: #128c7e; 
}

.content .btn-page ion-icon {
  margin-right: 16px; 
}

/* LOCALIZAÇÃO --------------------------------------------------------------------------------------------------------------------------*/

#localizacao{
  background-color: var(--color-sky);
}

/* AGENDAMENTO --------------------------------------------------------------------------------------------------------------------------*/

#agendamento {
  background-color: var(--color-sky);
}

#agendamento form {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#agendamento h1 {
  text-align: center;
}

#agendamento .campo {
  margin-bottom: 20px;
}

#agendamento legend {
  font-weight: bold;
}

#agendamento label {
  margin-left: 5px;
  display: block; 
}

#agendamento input[type="text"],
#agendamento input[type="tel"],
#agendamento input[type="datetime-local"],
#agendamento input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#agendamento input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

#agendamento input[type="submit"]:hover {
  background-color: #45a049;
}

#agendamento .btn {
  display: inline-block;
  margin-bottom: 10px;
}


/* POLÍTICA -----------------------------------------------------------------------------------------------------------------------------*/

#politica{
  background-color: var(--color-wood);
}

#politica a{
  color: var(--color-title);
}

#politica h2{
  color: var(--color-title);
  font-size: 36px;

  margin-top: 32px;
  margin-bottom: 16px;
}

#politica ul li,
#politica ol li{
  margin-left: 26px;
  padding: 10px;
}

/* SOBRE -----------------------------------------------------------------------------------------------------------------------------*/

#sobre{
  background-color: var(--color-wood);
}

#sobre a{
  color: var(--color-title);
}

#sobre h2{
  color: var(--color-title);
  font-size: 36px;

  margin-top: 32px;
  margin-bottom: 16px;
}

/* FOOTER -------------------------------------------------------------------------------------------------------------------------------*/

footer {
  background-color: var(--color-dark);
  width: 100%;
  text-align: center;
  color: var(--color-p);
}

.footer-item{
  font-size: 20px;
}

.footer-link {
  color: var(--color-p);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}