<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style/style.css" />
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon" />
    <title>Quem Somos</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
<body>

  <nav class="navbar">
    <div class="container">
      <a class="navbar-name" href="../../index.html">
        <strong>Ousados Barbearia</strong>
      </a>

      <ul class="navbar-list">
        <li class="item-list">
          <a href="#domicilio" class="nav-link">
            <ion-icon name="call-outline" id="contact"></ion-icon>
          </a>
        </li>

        <li class="item-list">
          <a href="#cortes" class="nav-link">
            <ion-icon name="construct-outline" id="serviços"></ion-icon>
          </a>
        </li>

        <li class="item-list">
          <a href="./views/nav/agendar.html" class="nav-link">
            <ion-icon name="calendar-outline" id="agendar"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
</body>
</html>