<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style/style.css" />
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon" />
    <title>Quem Somos</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a class="navbar-name" href="../../index.html">
          <strong>Ousados Barbearia</strong>
        </a>

        <ul class="navbar-list">
          <li class="item-list">
            <a href="#domicilio" class="nav-link">
              <ion-icon name="call-outline" id="contact"></ion-icon>
            </a>
          </li>

          <li class="item-list">
            <a href="#cortes" class="nav-link">
              <ion-icon name="construct-outline" id="serviços"></ion-icon>
            </a>
          </li>

          <li class="item-list">
            <a href="./views/nav/agendar.html" class="nav-link">
              <ion-icon name="calendar-outline" id="agendar"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <section id="sobre">
      <h1>Quem Nós Somos</h1>
      <div class="content">
        <p>
          Bem-vindo à <a href="#">Ousados Barbearia</a>. Somos uma equipe dedicada de profissionais comprometidos em ajudar nossos clientes a atingir seus objetivos. Nosso objetivo é fornecer serviços de alta qualidade e soluções personalizadas para atender às necessidades de cada cliente.
      </p>
      <p>
          Fundada com a missão de oferecer serviços excepcionais em diversas áreas, desde consultoria empresarial até desenvolvimento de software, nossa empresa trabalha com empresas de todos os tamanhos e setores. Garantimos suporte necessário para o crescimento e prosperidade, atendendo desde startups até grandes corporações.
      </p>
      <p>
          Nosso sucesso é resultado do compromisso com nossos clientes e da experiência de nossa equipe altamente qualificada. Contamos com especialistas em suas respectivas áreas de atuação.
      </p>
      <p>
          Estamos em constante aprendizado e crescimento, buscando maneiras de aprimorar nossos serviços para atender às necessidades em evolução de nossos clientes. Essa abordagem nos mantém na vanguarda da indústria, proporcionando resultados excepcionais.
      </p>
      <p>
          Obrigado por visitar nosso site. Esperamos ter a oportunidade de trabalhar com você em breve e ajudá-lo a alcançar o sucesso que merece!
      </p>
      
      <p>
          Bem-vindo à nossa barbearia, onde o estilo encontra a tradição, e cada corte é mais do que uma transformação - é uma experiência. Somos mais do que barbeiros; somos contadores de histórias, especialistas em estilo e guardiões da confiança.
      </p>
      <p>
          Na nossa barbearia, não se trata apenas de cortes impecáveis e barbas bem cuidadas; é sobre criar um ambiente acolhedor onde nossos clientes se sintam em casa. Nossa jornada começou com uma paixão pela arte capilar e um compromisso inabalável com a qualidade.
      </p>
      <p>
          Combinamos habilidade artesanal com técnicas modernas para garantir que cada cliente saia não apenas satisfeito, mas confiante e revigorado. Não cortamos apenas cabelo; criamos conexões, acreditando que cada interação é uma oportunidade de construir relacionamentos genuínos.
      </p>
      <p>
          Além disso, estamos comprometidos com a excelência e a higiene. Nossa equipe é treinada nas últimas tendências e técnicas, proporcionando um serviço de qualidade superior, mantendo os mais altos padrões de limpeza e esterilização.
      </p>
      <p>
          Mais do que uma barbearia, somos uma comunidade. Estamos aqui para elevar seu estilo e oferecer um local onde você possa relaxar, descontrair e fazer parte de algo especial. Junte-se a nós nesta jornada e descubra o que faz da nossa barbearia um lugar verdadeiramente único.
      </p>
      

      </div>
    </section>
  </body>
</html>
