<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../style/style.css" />
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon" />
    <title>Agendamento</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>

  <body>
    <section id="agendamento">
      
      <h1>Faça seu Agendamento:</h1>
      <form action="#" method="post" id="formulario-agendamento">

        <div class="campo">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" required>
        </div>
      
        <div class="campo">
          <label for="telefone">Telefone:</label>
          <input type="tel" id="telefone" name="telefone" required>
        </div>
      
        <div class="campo">
          <label for="horario">Horário de Agendamento:</label>
          <input type="datetime-local" id="horario" name="horario" required>
        </div>
        
        <div class="campo">
          <legend>Principais</legend>
          <input type="checkbox" name="servicos[]" id="cabelo" />
          <label for="cabelo">Corte de Cabelo</label>
          <input type="checkbox" name="servicos[]" id="barba" />
          <label for="barba">Barba</label>
          <input type="checkbox" name="servicos[]" id="sobrancelha" />
          <label for="sobrancelha">Design de Sobrancelha</label>
        </div>
        <div class="campo">
          <legend>Adicionais</legend>
          <input type="checkbox" name="servicos[]" id="progressiva" />
          <label for="progressiva">Progressiva</label>
          <input type="checkbox" name="servicos[]" id="botox" />
          <label for="botox">Botox Capilar</label>
          <input type="checkbox" name="servicos[]" id="escova" />
          <label for="escova">Escova</label>
          <input type="checkbox" name="servicos[]" id="pigmentacao" />
          <label for="pigmentacao">Pigmentação</label>
          <input type="checkbox" name="servicos[]" id="barboterapia" />
          <label for="barboterapia">Barboterapia</label>
          <input type="checkbox" name="servicos[]" id="coloracao" />
          <label for="coloracao">Coloração</label>
        </div>
        <input type="submit" value="Enviar" />
      </form>
    </section>

    <script src="../../../js/main.js"></script>
  </body>
</html>
